html, body {
  overflow: hidden;
}

.resume {
  background-color: rgba(245,247,241,0.75);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 1em;
  width: 100%;
  max-width: 960px;
}
